.btn-color-1 {
  margin: 1em 1em 0 0;
  padding: 1.5em 2em;
  font-size: 0.75em;
  border: none;
  border-radius: 4px;
  background-color: #0e6cff;
  animation-name: btn-appear;
  animation-duration: 4s;
  animation-delay: 8.2s;
  animation-fill-mode: backwards;
}
.btn-color-1 a {
  text-decoration-line: none;
  color: #f4f4f4;
}
@keyframes btn-appear {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.btn-color-2 {
  margin: 1em 1em 0 0;
  padding: 1.5em 2em;
  font-size: 0.75em;
  border: none;
  border-radius: 4px;
  background-color: #ff8700;
  animation-name: btn-appear;
  animation-duration: 4s;
  animation-delay: 9.4s;
  animation-fill-mode: backwards;
}
.btn-color-2 a {
  text-decoration-line: none;
  color: #f4f4f4;
}
@keyframes btn-appear {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.btn-color-3 {
  margin: 1em 1em 0 0;
  padding: 1.5em 2em;
  font-size: 0.75em;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  animation-name: btn-appear;
  animation-duration: 4s;
  animation-delay: 10.6s;
  animation-fill-mode: backwards;
}
.btn-color-3 a {
  text-decoration-line: none;
  color: #f4f4f4;
}
@keyframes btn-appear {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.marg-inl-small {
  display: inl;
  padding: 0.5em;
}

.padd-inl-small {
  display: inl;
  padding: 0.5em;
}

.marg-bl0-small {
  display: bl0;
  padding: 0.5em;
}

.padd-bl0-small {
  display: bl0;
  padding: 0.5em;
}

.marg-inl-normal {
  display: inl;
  padding: 0.75em;
}

.padd-inl-normal {
  display: inl;
  padding: 0.75em;
}

.marg-bl0-normal {
  display: bl0;
  padding: 0.75em;
}

.padd-bl0-normal {
  display: bl0;
  padding: 0.75em;
}

.marg-inl-medium {
  display: inl;
  padding: 1em;
}

.padd-inl-medium {
  display: inl;
  padding: 1em;
}

.marg-bl0-medium {
  display: bl0;
  padding: 1em;
}

.padd-bl0-medium {
  display: bl0;
  padding: 1em;
}

.marg-inl-large {
  display: inl;
  padding: 1.5em;
}

.padd-inl-large {
  display: inl;
  padding: 1.5em;
}

.marg-bl0-large {
  display: bl0;
  padding: 1.5em;
}

.padd-bl0-large {
  display: bl0;
  padding: 1.5em;
}

.marg-inl-xl {
  display: inl;
  padding: 2em;
}

.padd-inl-xl {
  display: inl;
  padding: 2em;
}

.marg-bl0-xl {
  display: bl0;
  padding: 2em;
}

.padd-bl0-xl {
  display: bl0;
  padding: 2em;
}

.marg-inl-xxl {
  display: inl;
  padding: 4em;
}

.padd-inl-xxl {
  display: inl;
  padding: 4em;
}

.marg-bl0-xxl {
  display: bl0;
  padding: 4em;
}

.padd-bl0-xxl {
  display: bl0;
  padding: 4em;
}

#nav-bar {
  padding: 6em;
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
}
ul li {
  list-style-type: none;
  margin: 0 0.5em;
}
ul li a {
  text-decoration: none;
  color: #f4f4f4;
}

main section {
  background-color: #640fc5;
}

#ctn-hero {
  padding-left: 6em;
  padding-bottom: 8em;
  margin-bottom: 10em;
  background-color: #640fc5;
  display: flex;
  justify-content: space-between;
}
#ctn-hero #image-overlay {
  position: relative;
}
#ctn-hero #image-overlay div {
  position: absolute;
  top: 100px;
  right: 80px;
}
#ctn-hero #image-overlay div img {
  border: 2px solid rgb(50, 149, 241);
  border-radius: 10px;
  box-shadow: 0px 0px 6px 6px rgba(175, 175, 175, 0.822);
}

#text-ctn {
  width: 40%;
}
#text-ctn h1 {
  font-size: 4em;
  font-family: "Montserrat", sans-serif;
  color: #28064f;
  margin-bottom: 0;
  animation-name: title-appear;
  animation-duration: 6s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
@keyframes title-appear {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
#text-ctn p {
  font-size: 1.5em;
  color: #f4f4f4;
  margin-top: 0;
  animation-name: subu-text;
  animation-duration: 4s;
  animation-delay: 5s;
  animation-fill-mode: backwards;
}
@keyframes subu-text {
  from {
    transform: translateY(-30%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

#ctn {
  margin-top: 0em;
  background-color: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: 3;
}

.card {
  margin: 0 0.5em;
}
.card img {
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 8px 4px rgba(175, 175, 175, 0.822);
}

#image-overlay .card {
  animation-name: subu-text;
  animation-duration: 8s;
  animation-delay: 15s;
  animation-fill-mode: backwards;
}
@keyframes subu-text {
  from {
    transform: translateY(-30%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */